.first{
    color:red;
}
ol{
    color:brown
}
.third{
    background-color: yellow;
}
h3{
    color:red
}
ul{
    color:brown;
    letter-spacing: 5px;
}
p{
    color:brown;
}
a{
    background-color: yellow;
    color: red;
}
.second{
    text-decoration:line-through;
}
.four{
    text-decoration:underline;
}
a{
    text-decoration: none ;
}